{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block user_control %}
<li><a href="/home"><span class="glyphicon glyphicon-user"></span> {{ name if name is defined else "Anonymous"}}</a></li>
{% if role == "adm" %}
<li><a href="/reports"><span class="glyphicon glyphicon-list"></span> Report</a></li>
{% endif %}
<li><a href="/sign-out"><span class="glyphicon glyphicon-log-out"></span> Exit</a></li>
</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="" enctype="multipart/form-data" action="/do">
      <div class="row form-content">
        <form action="/report" class="form-inline" method="get" accept-charset="utf-8">
          <fieldset class="col-md-5 form-group">
            <div class="row">
              <label for="email">Email address</label><br>
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" autocomplete="off">
              <small class="text-muted">By user.</small>
            </div>
          </fieldset>
          <fieldset class="col-md-5 form-group">
            <div class="row">
              <label for="email">Date range</label><br>
              <input id="min_date" type="date" name="min_date" value="" placeholder="" required>
              <input id="max_date" type="date" name="max_date" value="" placeholder="" required>
            </div>
          </fieldset>
          <fieldset class="col-md-2 form-group text-center">
            <div class="row">
              <button type="submit" class="btn">Filter results</button>
            </div>
            <div class="row">
              <a href="/report.csv" class="btn btn-theme">Download report</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

{% if queries %}
<div class="list-group">
  <div class="row list-group-item list-group-item-action">
      <div class="col-md-2">Date</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Last name</div>
      <div class="col-md-2">Email</div>
      <div class="col-md-2">Topic</div>
      <div class="col-md-2">Description</div>
  </div>
  {% for query in queries %}
  <div class="row list-group-item list-group-item-action">
    <a href="#{{ query[0] }}" target="">
      <div class="col-md-2">{{ query[1] }}</div>
      <div class="col-md-2">{{ query[2] }}</div>
      <div class="col-md-2">{{ query[3] }}</div>
      <div class="col-md-2">{{ query[4] }}</div>
      <div class="col-md-2">{{ query[5] }}</div>
      <div class="col-md-2">{{ query[6] }}</div>
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="al alert alert-warning" role="alert">
  No results
</div>
{% endif %}

<hr>
{% endblock %}
