{% extends "base.html" %}

{% block title %}Start{% endblock %}

{% block user_control %}
<li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Exit</a></li>
</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <form action="" method="post" accept-charset="utf-8" id="sign-up-form">
      <fieldset class="form-group">
        <label for="university">University</label>
        <select class="form-control" id="university" name="university">
          <option disabled selected value> -- select a university -- </option>
        {% for univ in universities %}
          <option value="{{ uni.uniId }}">{{ uni.uniName }}</option>
        {% endfor %}
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="nickname">Area</label>
        <input type="text" class="form-control" id="area" placeholder="Enter area" name="area" autocomplete="off">
        <small class="text-muted">Or area of interest.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" autocomplete="off">
        <small class="text-muted">We'll never share your email with anyone else.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" class="form-control" id="nickname" placeholder="Enter nickname" name="nickname" autocomplete="off">
        <small class="text-muted">Nickname must be unique.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password" name="password" placeholder="Enter password">
      </fieldset>
      <button type="submit" class="btn btn-theme">Submit</button>
    </form>
  </div>
</div>
<hr>
{% endblock %}
