project/static/assets/js/bootstrap.*
project/static/assets/js/jquery.*
project/static/assets/js/vis.*

project/static/assets/css/font-awesome.*
project/static/assets/css/bootstrap*
project/static/assets/css/vis*
