project/static/assets/js/bootstrap.* linguist-vendored
project/static/assets/js/jquery.* linguist-vendored
project/static/assets/js/vis.* linguist-vendored

project/static/assets/css/font-awesome.* linguist-vendored
project/static/assets/css/bootstrap* linguist-vendored
project/static/assets/css/vis* linguist-vendored
